
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut/advocut-webfont.eot');
    src: url('../fonts/advocut/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gp {
    font-family: 'AdvoCut', sans-serif;
}

html, body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    background: #111;
    overflow: hidden;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

#resizeCheck {
    top: 0;
    height: 0;
    left: 0;
    position: absolute;
    -webkit-transition: 0.001s height ease-in-out;
    transition: 0.001s height ease-in-out;
}

body {
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../img/background.png') no-repeat center center;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left-ornament, .right-ornament {
    background: url('../img/1/spritesheet.png');
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.left-ornament {
    position: relative;
    top: 0;
}

.right-ornament {
    position: relative;
    top: 0;
}

.link:hover {
    cursor: pointer;
    color: #d83939;
}

#resizeCheck {
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.001s height ease-in-out;
    transition: 0.001s height ease-in-out;
}

.validation-summary {
    margin: .5em;
    min-height: 1em;
    position: absolute;
    left: 33%;
}

.validation-error {
    color: #880000;
    text-shadow: 2px 2px 2px #ff6666;
    font-size: 15px;
}

.status {
    color: #0033cc;
    text-shadow: 2px 2px 2px #3399ff;
    font-size: 15px;

}

#bubbles a {
    pointer-events: auto;
    text-decoration: none;
    color: #fcda5c;
}

#bubbles p {
    margin-top: 6px;
}

#bubbles {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    font-family: 'AdvoCut', sans-serif;
}

.pointer {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bubble {
    background: rgba(45, 45, 45, 0.9);
    padding: 3px 10px 0 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    text-align: center;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bubbleTip {
    width: 11px;
    height: 10px;
    top: 10px;
    background: url('../img/thingy.png');
    margin: 0 auto;
    position: relative;
}

.chatInputData {
    width: 100%;
    height: 100%;
	color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    font-family: 'AdvoCut', sans-serif;
}

#abilityShortcut {
    left: 38%;
    position: absolute;
}

#chat {
    display: none;
    position: absolute;
    pointer-events: none;

    left: 35%;
    bottom: 20%;
}

#chat p {
    font-family: 'AdvoCut', sans-serif;
}

#chatLog {
    width: 100%;
    height: 100%;
    margin-top: -44%;
    overflow-y: hidden;
    text-shadow: 2px 2px 2px black;
    font-size: 15px;
}

#talk {
    width: 100%
}

#talk .input {
    color: #eee;
    background: none;
    width: 90%;
    margin-left: 2%;
    border: 0;
}

#login, #newCharacter {
    top: 65%;
}

#yes, #no {
    position: absolute;
    width: 200px;
}

#yes, #no {
    top: 70%;
}

#yes {
    left: 10%;
}

#continue, #cancelButton, #play {
    top: 70%;
}

#login {
    left: 15%;
}

#cancelButton {
    left: 10%;
}

#newCharacter, #no {
    left: 60%;
}

#play {
    left: 65%;
}

#rememberMe {
    top: 57%;
    left: 20%;
}

#rememberMeText {
    position: absolute;
    top: 5%;
    left: 50%;
}

#guest, #guestText {
    position: absolute;
    top: 57%;
}

#guest {
    left: 70%;
}

#guestText {
    top: 5%;
    left: 110%;
}

#login, #newCharacter, #continue, #cancelButton, #play {
    border: none;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(1, #4d4d4d),
            color-stop(1, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #707070;
    border: 1px solid #000000;
}

input[type='range']::-webkit-slider-thumb:active {
    background-color: #fcda5c;
}

audio,
video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

#about p {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

#close-about {
    margin-top: 10%;
}

#close-updated {
    margin-top: 5%;
}

@-webkit-keyframes flash { 0% { background:#ffa2a2; } 100% { background:#e22525; }}
@-webkit-keyframes flash-green { 0% { background:#a2ffa2; } 100% { background:#25e225; }}
@-webkit-keyframes flash-poison { 0% { background:#0cab3c; } 100% { background:#035819; }}

#health, #healthBar {
    cursor: default;
}

#health {
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(right, #ff0000, #ef5a5a);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(right, #FF8888, #FF0000);
    -webkit-transition: .5s width ease;
    transition: .5s width ease;
}

#exp {
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #44FF44, #008800);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #44FF44, #008800);
    -webkit-transition: .5s width ease;
    transition: .5s width ease;
}

#health.white {
    -webkit-animation: flash 0.5s linear 1;
    animation: flash 0.5s linear 1;
}

#health.green {
    -webkit-animation: flash-green 0.5s linear 1;
    animation: flash-green 0.5s linear 1;
}

#health.poison {
    -webkit-animation: flash-poison 0.5s linear 1;
    animation: flash-poison 0.5s linear 1;
}

@media only screen and (min-width: 1501px) {

    #parchment h1, #loadCharacter h1, #about h1, #clientUpdated h1 {
        margin-top: 30px;
        font-size: 30px;
    }

    #createCharacter h1 {
        margin-top: 10px;
        font-size: 30px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1, #clientUpdated h1 {
        margin-left: 30px;
    }

    .left-ornament, .right-ornament {
        background: url('../img/3/spritesheet.png');
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    }

    .left-ornament, .right-ornament {
        background-size: 1266px auto;
    }

    .left-ornament {
        background-position: -1062px 0;
    }

    .right-ornament {
        background-position: -1155px 0;
    }

    .left-ornament, .right-ornament {
        width: 93px;
        height: 36px;
        display: inline-block;
        margin: 0 20px;
        top: 12px;
        position: relative;
    }

    #createCharacter .login {
        margin: 12px auto 12px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 105px 240px 105px 240px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login, .login div, .createNew, .createNew div {
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        background-size: auto 30px;
    }

    .login div {
        width: 375px;
        height: 153px;
        background-position: -687px 0;
    }

    .login div:active {
        background-position: -687px -459px;
    }

    .login.loading div {
        background-position: -681px -2178px;
    }

    .login.loading img {
        width: 24px;
        height: 24px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 3px;
    }

    .validation-error, .status {
        font-size: 22px;
    }

    #chat {
        width: 750px;
        height: 300px;
    }

    #talk {
        margin-top: 300px;
        height: 30px;
    }

    #talk .input {
        font-size: 15px;
        padding: 6px 0;
    }

    .stroke {
        text-shadow: 2px 2px 0 #373737, 2px -2px 0 #373737, 0 2px 0 #373737, 2px 0 0 #373737, -2px 2px 0 #373737, -2px -2px 0 #373737, 0 -2px 0 #373737, 0 2px 0 #373737, -2px 0 0 #373737;
    }

    #login, #newCharacter, #continue, #cancelButton, #play {
        position: absolute;
        width: 306px;
        height: 81px;
        background: url('../img/3/buttons.png');
    }

    #login {
        background-position: -309px 0;
    }

    #login:hover, #login:focus {
        background-position: -312px -87px;
    }

    #login:active {
        background-position: -312px -174px;
    }

    #login.disabled {
        background-position: -312px -261px;
    }

    #newCharacter {
        background-position: -618px 0;
    }

    #newCharacter:hover, #newCharacter:focus {
        background-position: -621px -87px;
    }

    #newCharacter:active {
        background-position: -618px -174px;
    }

    #newCharacter.disabled {
        background-position: -618px -261px;
    }

    #continue {
        background-position: -1242px 0;
    }

    #continue:hover {
        background-position: -1242px -87px;
    }

    #continue:active {
        background-position: -1242px -174px;
    }

    #continue.disabled {
        background-position: -1242px -261px;
    }

    #cancelButton {
        background-position: -933px 0;
    }

    #cancelButton:hover {
        background-position: -933px -87px;
    }

    #cancelButton:active {
        background-position: -933px -174px;
    }

    #cancelButton.disabled {
        background-position: -933px -261px;
    }

    #play {
        background-position: 0 0;
    }

    #play:hover, #play:focus {
        background-position: 0 -87px;
    }

    #play:active {
        background-position: 0 -174px;
    }

    #play.disabled {
        background-position: 0 -261px;
    }

    #rememberMeText, #guestText {
        width: 165px;
        height: 24px;
        font-size: 20px;
    }

    .validation-summary {
        width: 366px;
    }

    input[type="range"] {
        border-radius: 9px;
        height: 9px;
    }

    input[type='range']::-webkit-slider-thumb {
        border-radius: 6px;
        height: 24px;
        width: 15px;
    }
}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1, #clientUpdated h1 {
        margin-top: 40px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 20px;
    }

    .left-ornament, .right-ornament {
        background: url('../img/2/spritesheet.png');
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    }

    .left-ornament, .right-ornament {
        background-size: 844px auto;
    }

    .left-ornament {
        background-position: -708px 0;
    }

    .right-ornament {
        background-position: -770px 0;
    }

    .left-ornament, .right-ornament {
        width: 62px;
        height: 24px;
        position: relative;
        display: inline-block;
        margin: 0 15px;
        top: 6px;
    }

    #createCharacter .login {
        margin: 8px auto 8px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 70px 160px 70px 160px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login div {
        width: 250px;
        height: 102px;
        background-position: -458px 0;
    }

    .login div:active {
        background-position: -458px -306px;
    }

    .login.loading div {
        background-position: -454px -1452px;
    }

    .login.loading img {
        width: 16px;
        height: 16px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 2px;
    }

    .validation-error, .status {
        font-size: 16px;
    }

    #chat {
        width: 500px;
        height: 200px;
    }

    #talk {
        margin-top: 200px;
        height: 20px;
    }

    #talk .input {
        font-size: 10px;
        padding: 4px 0;
    }

    .stroke {
        text-shadow:2px 2px 0 #373737, 2px -2px 0 #373737, 0 2px 0 #373737, 2px 0 0 #373737, -2px 2px 0 #373737, -2px -2px 0 #373737, 0 -2px 0 #373737, 0 2px 0 #373737, -2px 0 0 #373737;
    }

    #login, #newCharacter, #continue, #cancelButton, #play {
        position: absolute;
        width: 204px;
        height: 54px;
        background: url('../img/2/buttons.png');
    }

    #login {
        background-position: -205px 0;
    }

    #login:hover, #login:focus {
        background-position: -207px -58px;
    }

    #login:active {
        background-position: -205px -116px;
    }

    #login.disabled {
        background-position: -205px -174px;
    }

    #newCharacter {
        background-position: -412px 0;
    }

    #newCharacter:hover, #newCharacter:focus {
        background-position: -414px -58px;
    }

    #newCharacter:active {
        background-position: -412px -116px;
    }

    #newCharacter.disabled {
        background-position: -412px -174px;
    }

    #continue {
        background-position: -828px 0;
    }

    #continue:hover {
        background-position: -828px -58px;
    }

    #continue:active {
        background-position: -828px -116px;
    }

    #continue.disabled {
        background-position: -828px -174px;
    }

    #cancelButton {
        background-position: -622px 0;
    }

    #cancelButton:hover {
        background-position: -622px -58px;;
    }

    #cancelButton:active {
        background-position: -622px -116px;
    }

    #cancelButton.disabled {
        background-position: -622px -174px;
    }

    #play {
        background-position: 0 0;
    }

    #play:hover, #play:focus {
        background-position: 0 -58px;
    }

    #play:active {
        background-position: 0 -116px;
    }

    #play.disabled {
        background-position: 0 -174px;
    }

    #rememberMeText, #guestText {
        width: 110px;
        height: 15px;
        font-size: 15px;
    }

    .validation-summary {
        width: 256px;
    }

    input[type="range"] {
        border-radius: 6px;
        height: 6px;
    }

    input[type='range']::-webkit-slider-thumb {
        border-radius: 4px;
        height: 15px;
        width: 10px;
    }

    #about h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1000px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1, #clientUpdated h1 {
        margin-top: 20px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 10px;
    }

    .left-ornament, .right-ornament {
        background-size: 422px auto;
    }

    .left-ornament {
        background-position: -354px 0;
    }

    .right-ornament {
        background-position: -385px 0;
    }

    .left-ornament, .right-ornament {
        width: 31px;
        height: 12px;
        display: inline-block;
        margin: 0 10px;
        top: 3px;
        position: relative;
    }

    #createCharacter .login {
        margin: 4px auto 4px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 35px 80px 35px 80px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login div {
        width: 125px;
        height: 51px;
        background-position: -229px 0;
    }

    .login div:active {
        background-position: -229px -153px;
    }

    .login.loading div {
        background-position: -227px -726px;
    }

    .login.loading img {
        width: 8px;
        height: 8px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 1px;
    }

    .validation-error, .status {
        font-size: 8px;
    }

    #chat {
        width: 250px;
        height: 100px;
    }


    #talk {
        margin-top: 100px;
        height: 10px;
    }

    #talk .input {
        font-size: 5px;
        padding: 2px 0;
    }

    .stroke {
        text-shadow:1px 1px 0 #373737, 1px -1px 0 #373737, 0 1px 0 #373737, 1px 0 0 #373737, -1px 1px 0 #373737, -1px -1px 0 #373737, 0 -1px 0 #373737, 0 1px 0 #373737, -1px 0 0 #373737;
    }

    #login, #newCharacter, #continue, #cancelButton, #play {
        position: absolute;
        width: 102px;
        height: 27px;
        background: url('../img/1/buttons.png');
    }

    #login {
        background-position: -103px 0;
    }

    #login:hover, #login:focus {
        background-position: -104px -29px;
    }

    #login:active {
        background-position: -103px -58px;
    }

    #login.disabled {
        background-position: -103px -87px;
    }

    #newCharacter {
        background-position: -206px 0;
    }

    #newCharacter:hover, #newCharacter:focus {
        background-position: -207px -29px;
    }

    #newCharacter:active {
        background-position: -206px -58px;
    }

    #newCharacter.disabled {
        background-position: -206px -87px;
    }

    #continue {
        background-position: -414px 0;
    }

    #continue:hover {
        background-position: -414px -29px;
    }

    #continue:active {
        background-position: -414px -58px;
    }

    #continue.disabled {
        background-position: -414px -87px;
    }

    #cancelButton {
        background-position: -311px 0;
    }

    #cancelButton:hover {
        background-position: -311px -29px;;
    }

    #cancelButton:active {
        background-position: -311px -58px;
    }

    #cancelButton.disabled {
        background-position: -311px -87px;
    }

    #play {
        background-position: 0 0;
    }

    #play:hover, #play:focus {
        background-position: 0 -29px;
    }

    #play:active {
        background-position: 0 -58px;
    }

    #play.disabled {
        background-position: 0 -87px;
    }

    #rememberMeText, #guestText {
        width: 70px;
        height: 8px;
        font-size: 8px;
    }

    #guest {
        left: 65%;
    }

    #guestText {
        left: 67%;
    }

    .validation-summary {
        width: 128px;
    }

    input[type="range"] {
        border-radius: 3px;
        height: 3px;
    }

    #yes {
        left: 0;
    }

    #no {
        left: 40%;
    }

    input[type='range']::-webkit-slider-thumb {
        border-radius: 2px;
        height: 8px;
        width: 5px;
    }

    #about h1, #credits h1 {
        font-size: 16px;
    }

}
